*.sh
*.ts
*.js
.*.js
*.json
*.md
*.html
.*ignore
Makefile

src
bin
tmp
test
coverage
node_modules

!lib
!lib/dist
!lib/**/*.js
!lib/**/*.d.ts
!dist
!dist/**/*.js
!dist/**/*.d.ts
!package.json
!package-lock.json
